
/*EL APP COMPONENT, ES EL PRIMER COMPONENTE POR DEFECTO QUE ANGULAR CARGA,
  DENTRO DE EL VIENE INDEXADO CADA COMPONENTE SEGUN SE HALLA DISEÑADO, ACA TAMBIEN SE PUEDE COLOCAR CODIGO
  HTML SI ASI LO DESEAS PARA AGREGAR MAS COSAS AL GUI
*/
<div class="container-fluid">/*POR AQUELLO, ACOSTUMBRO A USAR BOOTSTRAP PARA LA PARTE RESPONSIVE*/

  <app-navegacion></app-navegacion>/*ESTO ES UN SELECTOR DE COMPONENTE, LO QUE HACE ES INVOCAR LA PORCION HTML QUE 
  SE DESARROLLO EN UN COMPONENTE, POR EJEMPLO ESTE REPRESENTA LA BARRA DE NAVEGACION*/
  <br>
  <app-productos></app-productos>/*ESTO ES UN SELECTOR DE COMPONENTE, LO QUE HACE ES INVOCAR LA PORCION HTML QUE 
  SE DESARROLLO EN UN COMPONENTE, POR EJEMPLO ESTE REPRESENTA EL MENU DE LA LISTA DE PRODUCTOS*/
</div>